/* page menuX.html */

@import ".././SASS/utils/variables";
@import ".././SASS/utils/mixins";
@import ".././SASS/utils/keyframes";
@import ".././SASS/composants/btnchck.scss";
@import ".././SASS/layout/hdrftr.scss";

.hdr__menu{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    height: 65px;
    &__link{
        position: absolute;
        left: 20px;
        top: 30px;
        font-size: 20px;
    }
    img{
        width: 250px;
    }
}

.fig{
    display: flex;
    margin: 0;
    height: 300px;
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu{
    @include flex-type-column;
    background-color: $color__background;
    position: relative;
    margin-top: -50px;
    border-radius: 45px 45px 0px 0px;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4%;
        &__tittle{
            @include typo__tittle;
            margin: 4% 0;
        }
        i{
            font-size: 35px;
        }
    }    
    &__btn{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px;
        @include tablette{
            margin: 0 0 30px;
        }
    }
}
/** animation carte **/

.carte{
    &:nth-child(1) {
    animation-delay: calc(1s / 5);
    }
    &:nth-child(2) {
    animation-delay: calc(2s / 5);
    }
    &:nth-child(3) {
    animation-delay: calc(3s / 5);
    }
    &:nth-child(4) {
    animation-delay: calc(4s / 5);
    }
    &:nth-child(5) {
    animation-delay: calc(5s / 5);
    }
}

.carte__element input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        appearance: none;
        -webkit-appearance: none;
}

.carte__element input:checked ~ .carte__element__check{
    transition: 0.5s ease-in-out;
            transform: translateX(0px);
            i{
                transform: rotate(-1turn);
                transition: 0.5s ease-in-out;
            }
}

.carte__element input:checked .carte__element__description{
    width: calc(100% - 130px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    &__tittle{
        margin: 0;
        width: auto;
    }
    &__trimming{
        @include tablette{
        width: auto;
        }
    }
    &__price{
        transition: transform 0.5s ease-in-out;
        @include tablette{
            transform: translateX(10px);
        }
    }
}


.carte{
    @include flex-type-column;
    width: 100%;
    animation: slideup 1s forwards;
    opacity: 0;
    &-container{
        @include desktop{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        }
    }
    &__name{
        padding: 0px 20px;
        margin: 0px 20px 0px 0px;
        @include tablette{
            align-self: flex-start;
        }
        &__line{
            border: 2px solid $color__tertiary;
            width: 50px;
            margin-left: 20px;
        }
    }
    &__element{
        @include flex-type-row;
        @include box-shadow;
        height: 80px;
        border-radius: 25px;
        margin: 20px;
        background-color: #FFFFFF;
        overflow: hidden;
        position: relative;
        @include tablette{
            width: 250px;
            height: 150px;
        }
        @include desktop{
            height: 100px;
        }
        &__container{
            margin: 10px 20px;
            display: contents;
            @include tablette{
                @include flex-type-row;
                justify-content: center;
            }
        }
        &__description{
            width: calc(100% - 50px);
            @include flex-type-column;
            justify-content: space-evenly;
            padding: 10px 0px 10px 20px;
            &__tittle{
                margin: 0;
                @include text-overflow;
            }
            &__trimming{ 
                margin: 0;
                @include text-overflow;
                @include tablette{
                align-items: center;
                width: 100%;
                margin: 0;
                }
            }
            &__price{
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
        &__check{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            height: 80px;
            width: 60px;
            border-radius: 0px 25px 25px 0px;
            background-color: $color__tertiary;
            transform-origin: right 50px;
            transform: translateX(60px);
            @include tablette{
                height: 150px;
            }
            @include desktop{
                height: 100px;
            }
            i{
                align-items: center;
                color: #FFFFFF;
                font-size: 20px;
                transform: rotate(0turn);
            }
        }
    }
}