/* page index.html */

@import ".././utils/variables.scss";
@import ".././utils/mixins.scss";
@import ".././utils/keyframes.scss";
@import ".././composants/btnchck.scss";
@import ".././layout/hdrftr.scss";
@import "../pages/Loader.scss";
.nav{
    display: flex;
    justify-content: center;
    background-color: $color__background;
    width: 100%;
    height: 80px;
    &__logo{
        display: flex;
        align-items: center;
        font-size: 20px;
        padding-right: 20px;
    }
    &__form{
        display: flex;
        justify-content: center;
        width: 200px;
        &__input{
            border: none;
            justify-content: center;
            background-color: $color__background;
            width: 100%;
        }
    }
}

.desktop-container{
   @include flex-type-column;
    margin: 20px;
    @include desktop{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
}

.block{
    @include flex-type-column;
    align-items: center;
    text-align: center;
    @include desktop{
    width: 50%;
    justify-content: space-around;
    }
}

.function{
    @include flex-type-column;
    @include desktop{
    width: 50%;
    }
    &__element-size{
    @include tablette{
        @include flex-type-row;
    }
    @include desktop{
        @include flex-type-column;
    }
}
    &__tittle{
        display: flex;
        margin: 2% 2% 0% 2%;
    }
    &__element{
        display: flex;
        align-items: center;
        justify-content: center;
        @include box-shadow;
        background-color: $color__background;
        border-radius: 25px 25px;
        padding: 2% 10% 2% 5%;
        transition: all 600ms ease-in-out;
        margin: 20px 20px;
        position: relative;
        @include desktop-tab{
            padding: 2% 5% 2% 5%;
            margin: 20px 20px;
        }
        @include desktop{
            width: auto;
        }
        &__logo{
            padding-right: 10px;
            color: #808080;
            transition: color 600ms ease-in-out;
            @include tablette{
                padding-right: 20px;
            }
        }
        &__number{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -15px;
            height: 27px;
            width: 27px;
            background: #9356DC;
            border-radius: 20px;
            p{
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__element:hover{        
        background-color: pastel($color__primary);
        @include box-shadow-hover;
        .function__element__logo{
            color: $color__primary;
        }
    } 
}

.restaurant{
    @include flex-type-column;
    align-items: center;
    background-color: $color__background;
    @media (min-width: 993px){
        align-items: unset;
    }
    &__container{
        display: contents;
        justify-content: center;
        @include tablette{
            @include flex-type-row;
            flex-wrap: wrap;
        }
        @include desktop{
            @include flex-type-row;
        }
    }
        &__tittle{
            display: flex;
            align-self: flex-start;
            margin: 20px 20px 5px 20px;
            @include desktop-tab{
            margin: 2% 2% 0% 2%;
            }
        }
        &__element{
            @include flex-type-column;
            width: calc(100% - 8%);
            border-radius: 25px 25px;
            margin: 2% 2%;
            background-color: #FFFFFF;
            position: relative;
            @include box-shadow;
        @include tablette{
            width: calc(50% - 8%);
        }
        @include desktop{
            width:25%;
        }
        &__new{
            position: absolute;
            right: 15px;
            top: 15px;
            background: $color__tertiary;
            border-radius: 2px;
        &__text{
            display: block;
            font-size: 0.9rem;
            text-align: center;
            color: darken($color: $color__tertiary, $amount: 40);
            padding: 8px;
        }
    }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 25px 25px 0px 0px;
        }
    }
}

.description{
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
        &__text{
        @include flex-type-column;
            &__name{
                margin-bottom: 0px;
            }
        }    
        &__logo{
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 30px;
        }
}