/* colors */

$color__primary: #9356DC;
$color__secondary: #FF79DA;
$color__tertiary: #99E2D0;
$color__description: #FFFFFF;
$color__background: #ececec;
$color__footer: #282828;

/* typo */

$typo__tittle: "Shrikhand";
$typo__text: "Roboto";

/* mixin */

@mixin typo {
    font-family: $typo__text, Arial, Helvetica, sans-serif;
}

@mixin typo__tittle {
    font-family: $typo__tittle, Arial, Helvetica, sans-serif;
    font-size: 35px;
}

@mixin flex-type {
    display: flex;
    flex-direction: column;
}

@mixin flex-type-menu {
    display: flex;
    flex-direction: row;
}

@mixin box-shadow {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin box-shadow-hover {
    box-shadow: 0 6px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

@mixin checkbox-checked {
    display: inline-block;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flex-type-tab-desk{
    display: flex;
    flex-direction: row;
}

@mixin text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
}

/* function */

@function pastel($clr) {
    $hue: hue($clr);
    $sat: 100%;
    $light: 90%;
    $pastel: hsl($hue, $sat, $light);
    @return $pastel;
}



