/** variables **/
/* colors */

$color__primary: #9356DC;
$color__secondary: #FF79DA;
$color__tertiary: #99E2D0;
$color__description: #FFFFFF;
$color__background: #ececec;
$color__footer: #282828;

/* typo */

$typo__tittle: "Shrikhand";
$typo__text: "Roboto";

/* map */

$breakpoint: (
    mobile: 771px,
    tab-min: 772px,
    tab-max: 992px,
    desktop-min: 993px,
    tab-desktop: 772px
)